<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="user_card">
        <div class="user_info">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p><%= @user.email %></p>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png" alt="user avatar">
      </div>
    </div>
  </div>
</div>
