<footer class="bd-footer fixed-bottom d-flex">
  <div class="container">
    <ul>
      <div class="d-flex">
        <div class="offset-lg-1 mb-3">
          <li><a href="">Gourbetter by PayMe.Inc</a></li>
          <li>TEL. Not applicable</li>
          <li>@ Please don't</li>
        </div>
        <div class="offset-lg-1 md-9">
          <li>The first recipe is always a fail.</li>
        </div>
      </div>
    </ul>
  </div>
</footer>
