<div>
  <% rating.rating.times do %>
    <i class="fa fa-star star-color"></i>
  <% end %>
  <small><em class="text-muted"><%= distance_of_time_in_words_to_now(rating.created_at) %> ago</em></small>
  <p>by <%= rating.user.user_name %></p>
  <p class="mb-0"><%= rating.comment %>
    <span class="ml-3">
      <% if current_user == rating.user %>
        <%= link_to edit_rating_path(rating) do %>
          <i class="fa-regular fa-pen-to-square text-dark"></i>
        <% end %>
      <% end %>
    </span>
  </p>
  <hr>
</div>
