<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path("banner-background") %>);">
  <div class="container">
    <%= image_tag("logo") %>
  </div>
</div>

<p>Discover a world of delectable delights with Gourbetter, your go-to destination for premium, curated recipes. Elevate your cooking experience, explore new flavors, and master the art of gastronomy with our carefully crafted collection.</p>
<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>

<div class="card-container">
    <h2>Why Gourbetter?</h2>
    <div class="card-all">
      <div class="card-info">
        <%# <img src="" alt="Picture of something"> %>
        <h3>Exclusive Recipes</h3>
        <p>Gain access to a diverse range of exclusive recipes crafted by renowned chefs and culinary experts. From gourmet meals to quick and easy dishes, Gourbetter has something for every palate.</p>
      </div>
      <div class="card-info">
        <%# <img src="" alt="Picture of something"> %>
        <h3>Ingredient Excellence</h3>
        <p>We believe in the power of quality ingredients. Each recipe on Gourbetter is designed to showcase the finest flavors, ensuring a delightful culinary journey with every dish you create.</p>
      </div>
      <div class="card-info">
        <%# <img src="" alt="Picture of something"> %>
        <h3>Step-by-Step Guidance</h3>
        <p>Whether you're a seasoned chef or a kitchen novice, our step-by-step instructions and video tutorials make it easy for you to follow along and create restaurant-worthy meals in the comfort of your home.</p>
      </div>
    </div>
  </div>
