// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

footer{
  width: 100%;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: white;
}

ul{
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
ul li{
  display: inline;
}

.social-media{
  font-size: 1.5rem;
}

.contact{
  font-size: 0.7rem;
}

.phrase{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-inline: 0;
}
