// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.btn-warning{
  color: white
}

nav{
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1;

  ul {
    margin-bottom: 0;
  }

  ul li{
    display: inline;
    color: white;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .dropdown-menu li a{
    margin: 0;
  }
}

.img-avatar{
  width: 50px;
}
