// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

ul li{
  display: inline;
  color: white;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-warning{
  color: white
}

nav{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.img-avatar{
  width: 50px;
}
